<%= link_to 'Upload Video', new_video_path , class: "btn btn-default"%>

<table>
  <tr>
    <th>Video Name</th>
    <th>Actions</th>
  </tr>
    <% @videos.each do |video|%>
  <tr>
    <td><%= video_tag video.avatar, controls: true %> </td>
  </tr>
  <tr>
    <td>
      <%= link_to 'Delete', video_path(video), :method => 'delete', data: {confirm:"Are you sure?"}, class: "btn btn-default btn-sm"%> 
      <%= link_to 'Share', video_share_video_path(video.id), :remote=>true , class: "btn btn-default btn-sm"%>
    </td>
  </tr>
    <%end%>
</table>